
.battlefield {
  margin: 5px;
}

.cover {
  width: 100%;
  height: 400px;
  display: table;
  border: 1px solid #000;
}

.cover > div {
  display: table-cell;
  vertical-align: middle;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

canvas {
  padding: 0 !important;
  margin: auto !important;
  width: 100%;
  max-height: 600px;
}

debug-container {
  padding: 2px;
}

.debug {
  font-size: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav-item > .active {
  background-color: #ffffff;
  color: #343a40 !important;
  border-radius: 5px;
  padding: 8px !important;
}
